@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@531&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #086972;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
strong,
i {
  margin: 0;
  color: #071a52;
}

.clock-container {
  text-align: center;
  padding: 1.5rem;
  height: 75vh;
  width: 80vw;
  background: #17b978;
}

.controllers {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.controller-container {
  background: #a7ff83;
  padding: 1rem;
  border-radius: 25px;
}

.controller-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10vh;
  font-size: 1.25rem;
}

.setter-container {
  font-size: 1.25em;
}

.setter-container i {
  font-size: 200%;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  background: #a7ff83;
  border-radius: 25px;
  height: 12.5vh;
}

.timing-controlls {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button i {
  font-size: 3.25rem;
}
